.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px 72px;
  font-family: Arial;
  transition: all .3s;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh; }

.chart-title {
  margin-top: 0;
  align-self: flex-start; }

.details-panel {
  position: relative; }
  .details-panel .details-line {
    position: absolute;
    top: 0;
    width: 2px;
    opacity: .3;
    z-index: 100; }
  .details-panel .details-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 200px;
    padding: 12px 0;
    margin: 8px;
    border-radius: 4px;
    font-family: Arial;
    z-index: 100;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.4); }
    .details-panel .details-popup__date {
      margin: 0 12px 8px;
      font-weight: normal; }
    .details-panel .details-popup__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .details-panel .details-popup__line-info {
      text-align: left;
      margin: 0 6px; }
    .details-panel .details-popup__line-name {
      margin: 4px 0; }
    .details-panel .details-popup__line-value {
      margin: 4px 0;
      font-size: 22px;
      font-weight: bold; }
  .details-panel .point-marker {
    display: none;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid;
    z-index: 100;
    pointer-events: none;
    transition: background .3s; }

.line-filter {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  border: 1px solid #333;
  border-radius: 24px;
  margin-right: 12px; }
  .line-filter input[type=checkbox] {
    display: none; }
  .line-filter .filter-marker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid;
    transition: all .3s;
    color: #fff; }
    .line-filter .filter-marker.checked:before {
      content: '\2714';
      color: #fff;
      font-size: 12px; }

.search-panel {
  margin-top: 12px; }
  .search-panel #search-chart {
    pointer-events: none; }
  .search-panel .filter-panel {
    display: flex; }

.range-panel {
  position: relative;
  line-height: 0;
  margin-bottom: 12px; }
  .range-panel .range-box,
  .range-panel .range-marker {
    position: absolute;
    height: 100%;
    cursor: pointer;
    opacity: .4;
    transition: background .3s; }
  .range-panel .range-box {
    border-width: 3px 0;
    border-style: solid;
    box-sizing: border-box; }
  .range-panel .range-marker {
    top: 0;
    border-width: 0;
    border-style: solid; }
    .range-panel .range-marker.marker-start {
      left: 0;
      border-right-width: 8px; }
    .range-panel .range-marker.marker-end {
      right: 0;
      border-left-width: 8px; }

.toggler-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px 4px 4px;
  position: absolute;
  bottom: 24px;
  color: #108be3;
  font-size: 24px; }
  .toggler-theme input[type=checkbox] {
    display: none; }

body {
  padding: 0;
  margin: 0; }

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

